<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자기소개</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <div class = 'container'>
        <div class="header">
            <h1 class="hi">안녕하세요</h1>
            <p>산업시스템공학과 17학번 오광혁입니다.</p>
        </div>
        <div class = 'content'>
            <p>MBTI:ESFJ</p>
            <p>생년월일:97.10.20</p>
            <a href = "http://www.dgulion.co.kr/" class = "club">동아리: 멋쟁이사자처럼</ㅁ>
    
        </div>

    </div>

    

</body>
</html>